<div id="<%= dom_id post %>" class="card">
  <h3 class="card-header h5"><%= link_to post.title, post %></h3>
  <div  class="card-body">
    <div class="card-subtitle">
      by <%= link_to post.author.name, post.author %>,
      Status: <%= post.status %>
    </div>
    <div class="text-truncate">
      <%= truncate_post(post.body) %>
    </div>
  </div>
</div>
