<div id="<%= dom_id post %>">
  <h1><%= post.title %></h1>
  <p>
    <strong>Author:</strong>
    <%= link_to post.author.name, post.author %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>
  <%= format_post_body(post.body) %>
</div>
