<%
  content_for :title, "Posts"
  archive_button_id = "posts-table-archive-button"
  make_draft_button_id = "posts-table-make-draft-button"
  publish_button_id = "posts-table-publish-button"
%>
<h1>
  Posts
  <%= turbo_frame_tag "new_post_button" do %>
    <% link_to "New",
      new_post_path,
      data: { turbo_frame: "post_form" },
      class: "btn btn-lg btn-primary"
    %>
  <% end %>
</h1>

<%= turbo_frame_tag "post_form" do %><% end %>
<div class="spacer"></div>
<div id="posts" data-controller="table-actions">
  <div>
    <button
      id="<%= publish_button_id %>"
      class="btn btn-outline-primary btn-sm"
      data-table-actions-target="actionButton"
    >
      Publish
    </button>
    <button
      id="<%= archive_button_id %>"
      class="btn btn-outline-primary btn-sm"
      data-table-actions-target="actionButton"
    >
      Archive
    </button>
    <button
      id="<%= make_draft_button_id %>"
      class="btn btn-outline-primary btn-sm"
      data-table-actions-target="actionButton"
    >
      Make Draft
    </button>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>
        <input
          type="checkbox"
          class="form-check-input"
          aria-label="mass select"
          data-table-actions-target="headerCheckbox"
          data-action="change->table-actions#toggleAll"
        >
      </th>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <%
        disabled_action_ids = []
        disabled_action_ids << archive_button_id if post.archived?
        disabled_action_ids << make_draft_button_id if post.draft?
        disabled_action_ids << publish_button_id if post.published?
      %>
      <tr
        data-controller="table-row-status"
        data-post-status="<%= post.status %>"
        data-table-actions-target="row"
        data-disabled-action-ids="<%= disabled_action_ids %>"
      >
        <td>
          <input
            type="checkbox"
            class="form-check-input"
            aria-label="select this post"
            data-table-actions-target="rowCheckbox"
            data-action="change->table-actions#toggleRow"
          >
        </td>
        <td><%= link_to post.title, post %></td>
        <td><%= link_to post.author.name, post.author %></td>
        <td data-table-row-status-target="statusColor"><%= post.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @posts %>
